---
---
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import "{{ site.theme }}";

.view {
  display: none !important;
}

footer {
  display: none !important;
}

header .btn {
  display: none !important;
}

header h1::before {
  content: none !important;
}
